<ul class="navigation">
    <li class="navigation__item">
        <a class="navigation__link" href="" [routerLink]="['/canocal']" routerLinkActive="navigation__link_active">
            Canocal
        </a>
    </li>
    <li class="navigation__delimiter"></li>
    <li class="navigation__item">
        <a class="navigation__link" href="" [routerLink]="['/first-transformation']" routerLinkActive="navigation__link_active">
            First transformation
        </a>
    </li>
    <li class="navigation__delimiter"></li>
    <li class="navigation__item">
        <a class="navigation__link" href="" [routerLink]="['/second-transformation']" routerLinkActive="navigation__link_active">
            Second transformation
        </a>
    </li>
    <li class="navigation__delimiter"></li>
    <li class="navigation__item">
        <a class="navigation__link" href="" [routerLink]="['/third-transformation']" routerLinkActive="navigation__link_active">
            Third transformation
        </a>
    </li>
    <li class="navigation__delimiter"></li>
    <li class="navigation__item">
        <a class="navigation__link" href="" [routerLink]="['/embedded-view']" routerLinkActive="navigation__link_active">
            Embedded view
        </a>
    </li>
</ul>
<router-outlet></router-outlet>




<!-- <h3> -->
    <!-- <span [firstDecorator]="firstMarker">
        <span *thirdDecorator="thirdMarker">
            <fifth-decorator [marker]="fifthMarker">
                Decorated Content
            </fifth-decorator>
        </span>
    </span> -->

    <!-- <div>
        <div [attributeDirective]="templateLabel">
            Attribute Decorated Content
        </div>

        <ng-template #templateLabel let-text="text"> {{ text }}</ng-template> -->

        <!-- <div *structureDirective >
            Structure Decorated Content
        </div> -->
        <!--OR-->
        <!-- <ng-template structureDirective let-marker="marker">
            <div>
                Structure Decorated Content {{ marker }}
            </div>
        </ng-template> -->
    <!-- </div>
</h3> -->