<router-outlet></router-outlet>




<!-- <h3> -->
    <!-- <span [firstDecorator]="firstMarker">
        <span *thirdDecorator="thirdMarker">
            <fifth-decorator [marker]="fifthMarker">
                Decorated Content
            </fifth-decorator>
        </span>
    </span> -->

    <!-- <div>
        <div [attributeDirective]="templateLabel">
            Attribute Decorated Content
        </div>

        <ng-template #templateLabel let-text="text"> {{ text }}</ng-template> -->

        <!-- <div *structureDirective >
            Structure Decorated Content
        </div> -->
        <!--OR-->
        <!-- <ng-template structureDirective let-marker="marker">
            <div>
                Structure Decorated Content {{ marker }}
            </div>
        </ng-template> -->
    <!-- </div>
</h3> -->