:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 100px;
}

.label {
    border-bottom: 5px solid skyblue;
    color: skyblue;
    box-shadow: grey 0px 13px 10px -10px;
}