:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 100px;
}

.man {
    border-bottom: 5px solid sienna;
    display: block;
    box-shadow: gray 0px 13px 10px -10px
}